.app-container {
  position:relative; /* needed for footer positioning*/
  // background:#f0f0f0;

  height:auto !important; /* real browsers */
  height:100%; /* IE6: treaded as min-height*/

  min-height:100%; /* real browsers */
}
