.thumbnail {
  width: auto;
  height: 100%;
  max-height: 900px;
  max-width: 900px;
  display: block;
  padding: 4% 12%;
  margin: auto;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.detail-title {
  text-align: center;
}
